:root {
    --font:  "Caprasimo", serif;
}

body {
    background-color: #F3F3F3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    font-family: var(--font);
    text-align: center;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 22px;
}

.font,
.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
  }
  


