:root {
    --font:  "Caprasimo", serif;
    --font:  "cooper-black-std", "Caprasimo", serif;
    --font-body: Georgia, 'Times New Roman', Times, serif;
    --btn-color: #FEC97A;
}

body {
    background-color: #F3F3F3;
    font-family: var(--font-body);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.cooper {
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: normal;
}


.font,
.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
header {
    font-family: var(--font);
    text-align: center;
}

h1 {
    font-size: 44px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin-top: -7px;
}

#thumbs li {
    width: 7%;
}

#thumbs img {
    width: 90px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

#thumbs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.links {
    width: 40vw;
    margin: 50px auto 100px;
}

.links li {
    margin: 30px 0;
}

.links a:active  {
    text-decoration: dotted;
}

.links a:hover  {
    text-decoration: underline;
}

li.form form,
.links a {
    position: relative;
    padding-left: 55px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

li.form {
    margin-top: 30px;
}

li.form::before,
.links li::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px; 
    background: url('img/icon-etsy.svg') center/cover; /* Replace 'icon.png' with your icon */
    position: absolute;
    transform: translateX(-50%);
    transform: translateY(-20%);
    z-index: -1; 
}

li.form::before {
    transform: translateY(20%);
    background-image: url(img/icon-email.svg);
}

li.email::before {
    background-image: url(img/icon-email.svg);
}

li.insta::before {
    background-image: url(img/icon-insta.svg);
}

.fb::before {
    background-image: url(img/icon-fb.svg);
}

a {
    color: #000;
} 

.shop a {
    font-size: 20px;
    padding: 12px 35px;
    border-radius: 25px;
    margin-left: 50px;
    background-color: var(--btn-color);
    font-weight: bold;
}

.shop a:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .2);
}

.shop a:hover {
    text-decoration: none;
    filter: brightness(0.95);
}

li span {
    font-style: italic;
}

body #mc_embed_signup form {
    margin: 20px 0;
}

body .mc-field-group {
    padding-bottom: 9px;
}

body #mc_embed_signup * {
    font-family: var(--font-body);
}

body #mc_embed_signup div#mce-responses {
    margin: 0;
    padding: 0 ;
}

body #mc_embed_signup div.response {
    padding: 0;
}

body #mc_embed_signup #mc-embedded-subscribe-form  div {
    background-color: transparent !important;
}

body #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    margin-bottom: 0;
}

body #mc_embed_signup .button {
    margin-bottom: 0;
}

#gallery img {
    max-width: 75vw;
}

#gallery {
    background-color: #fff;
    margin:40px 0;
    padding:150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#bio {
    text-align: center;
    width: 60vw;
    margin: 20px auto;
    line-height: 1.5;
}